.basket-item{
    width: 1000px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 1px 1px 4px bisque;
    margin-bottom: 15px;
    padding: 10px 20px 10px 10px;
}
.basket-item__img{
    width: 170px;
    height: auto;
}
.basket-item__descr{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.basket-item__name{
    font-size: 16px;
    font-weight: 600;
}
.basket-item__extra{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.basket-item__extra-items{
    margin-top: 10px;
}
.basket-item__btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 40px;
    background-color: rgb(248, 245, 242);
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgb(238 216 183);
}
.basket-item__btns-left, .basket-item__btns-right{
    cursor: pointer;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.basket-item__btns-count{
    width: 50px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.basket-item__costs{
    font-size: 18px;
    font-weight: 600;
}
.basket-item__remove{
    cursor: pointer;
    width: 20px;
    height: 20px;
}